:root {
    --mainColor: #080808;
    --secondaryColor: #101010;
    --thirdColor: #0C0C0D;
    --accentColor: #CB610E;
    --accentColorShadow: rgb(203, 97, 14, 0.5);
    --onPrimaryColor: #E1DED8;
    --onPrimaryColorShadow: rgb(225, 222, 216, 0.5);
    --onSecondaryColor: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    /* align-items: center; */
    font-family: 'Quicksand', sans-serif;
    background-color: var(--thirdColor);
    justify-content: center;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 450px;
    width: 350px;
    background-color: var(--accentColor);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 150px 0 auto;
    border-radius: 16px;
    box-shadow: 0 4px 12px var(--accentColorShadow);
    color: var(--onPrimaryColor);
    transition: background-color 0.3s ease-in-out;
}

main:hover {
    background-color: var(--accentColorShadow);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.profile h2 {
    font-size: 32px;
}

.profile p {
    font-size: 22px;
}

.foto {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--onPrimaryColor);
    margin-bottom: 5px;
}

.foto img {
    width: 150px;
}

/* contact */
.contact p:first-child {
    margin-bottom: 5px;
}

.contact span {
    font-weight: bold;
}


/* view profile btn */
.view a {
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--onPrimaryColor);
    color: var(--thirdColor);
    border-radius: 50px;
    box-shadow: 0 4px 12px var(--onPrimaryColorShadow);
}

.view a:hover {
    background-color: var(--onSecondaryColor);
}