body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 15px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
}

.logo h1 a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px;
}

.logo h1 a:hover {
    background-color: orange;
    color: white;
    border-radius: 8px;
}

.logo h1 a:active {
    background-color: lightblue;
    color: #007BFF;
    font-style: italic;
}


.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.project {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}